<%= render 'navbar' %>
<div class="container">
  <div class="bg-white rounded border shadow my-4 pb-5">
    <h2 class="mt-5 text-center font-weight-bold">About Us </h2>
    <h5 class="mt-3 px-3 text-center  h5">
      GIS Lingayen is a website to keep track of risk areas in Lingayen, Pangasinan for Flood, Tsunami and storm surge. This website also can show the locations of different Evacuations site in Lingayen 
    </h5>
  </div>
</div>
<%= render 'footer' %>
