// $primary_text_color: #707070;
// $primary_color_low: #c5deff;
// $primary_color: #001eff;
// $secondary_color: black;
// $secondary_color_50: #fab722cc;
// $white: white;
$filter-field-seperator-width: auto;
$side-by-side-filter-input-width: auto;

$panelBorder: #babdc5;
$skinActiveColor: #e73c3c;
$bodyColor: rgba(236, 240, 241, 0.48);
$skinBlack: rgb(55, 71, 79);
$panelHeaderBck: $skinBlack;
$skinBlackLight: rgb(69, 90, 100);
$textGray: rgb(174, 179, 181);
$skinTextColor: #1e2a33;
$skinTextActiveColor: white;
$skinTextTable: #7f8c8d;
$skinHeaderBck: #1e2a33;
