<div>
  <a href="#" id="barangay-filter" class="map-filters active">BARANGAY</a>
  <a href="#" id="evacuation-filter" class="map-filters active">EVACUATION AREA</a>
  <a href="#" id="tsunami-filter" class="map-filters active">TSUNAMI</a>
  <a href="#" id="flood-filter" class="map-filters active">FLOODS</a>
  <a href="#" id="storm-surge-filter" class="map-filters active">STORM SURGES</a>
</div>
<div id="map">
  <h1>Loading...</h1>
</div>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8KVq2028NT4tSCAt75NEPKXxzrhQAXVI&callback=initMap"></script>
